<div class="container h-100">
    <div class="htop additional-routes-wrapper">
        <div class="wrapper-image additional-routes">
            <img src="/images/404.jpg" alt="404">
        </div>
    </div>
</div>