<div class="container h-100">
    <div class="htop additional-routes-wrapper">
        <div class="wrapper-image additional-routes">
            <img src="/images/error.png" alt="error" class="error-image">
        </div>
    </div>
</div>